
@font-face {
    font-family: Merriweather;
    src: url(./font/Merriweather-Regular.otf);
}

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #e6e6e6;
    font-family: "Merriweather", Georgia, "Times New Roman", serif;
}

#mainContent {
    background-color: #fff;
}

.margin-top-10 {
    padding-top: 10px;
}

.job-title {
    color: #339966;
}
.job-company {
    color: #3366ff;
}

.experience-image {
    width: 60%;
    height: auto;
}
.experience-title {
    color: #854042;
}